h1{color:Maroon;text-align: center;font-family:gautami; font-size: 30px;}
p{color:Maroon;text-align: center;font-family: gautami;font-size: 30px}
.t2{text-align: center;align center;font-family: gautami; width: 60%;background-color: white;border:2px solid; border-collapse:collapse}
.t1{border-radius: 300px;text-align: center;}
table{text-align: center;}
.t3{color:Maroon;text-align: center;font-family:gautami; font-size: 15px;}
.t4{text-align: center;align center;font-family: gautami; width: 70%;background-color: white;border:2px solid; border-collapse:collapse}

